<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- احذف أي تعريفات TV تُدمَج من المكتبات -->
    <uses-feature android:name="android.software.leanback" tools:node="remove"/>
    <uses-feature android:name="android.hardware.television" tools:node="remove"/>

    <!-- اجعل اللمس مطلوبًا (يستبعد أجهزة التلفاز) -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true"
        tools:replace="android:required"/>

    <application
        android:name="${applicationName}"
        android:label="Shoof TV"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data android:name="io.flutter.embedding.android.NormalTheme"
                       android:resource="@style/NormalTheme"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <!-- لا تضع LEANBACK_LAUNCHER -->
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data android:name="flutterEmbedding" android:value="2"/>
    </application>
</manifest>
